
*{
    margin: 0px;
    padding: 0px;
}

.corona{
  width: 100%;
  height: 10vh;
  background-color: rgb(82, 228, 138);
  color: white;
}
.list1{
  position: fixed;
  
}
.data{
  line-height: 1.8;
  margin: 0px 50px;
}
table{
    color: white;
}
tr{
    color: rgb(82, 228, 138);
}